{% extends 'base.html' %}

{%block content%}

<body>

    {%if validlink %}

    <h1>Forgot Password</h1>

    <form method="POST" >

        {% csrf_token %}

        {{form.as_p}}

        <button type="submit">Change Password</button>

        <br><br><br><br><br><br><br>

    </form>

    {% else %}

    <p>

        <h3>The password reset link was invalid, possibly because it has already been used.

         Please request a new password reset link.</h3>

    </p>

    <br><br><br><br><br><br><br><br><br><br><br><br><br><br>

{% endif %}

</body>

{%endblock%}
