{% extends 'base.html' %}
{% block content%}

<section id="register" class="bg-light py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-6 mx-auto">
        <div class="card">
          <!--Alerts-->
          {% include '_alerts.html'%}
          <div class="card-header bg-primary text-white">
            <h4>
              <i class="fa fa-user-plus"></i> Register</h4>
          </div>
          <div class="card-body">
            {%if messages %}
            {% for message in messages %}
              <p {% if message.tags %} class="alert alert-{{message.tags}} mb-5"{% endif %}>{{ message}}</p>
            {% endfor %}
            {% endif %}
            {% include '_alerts.html' %}
  <form action="{% url 'register'%}" method="POST" novalidate >
    {% csrf_token %}
    {% for fm in form %}
      <div class="form-group">
        {{fm.label_tag}}{{fm}} <small class="text-warning">{{fm.errors|striptags}}</small>
      </div>
    {% endfor %}
    <input type="submit" value="Register" class="btn btn-secondary btn-block">
    {% if form.non_field_errors %}
      {% for error in form.non_field_errors %}
        <p class="alert alert-danger my-3">{{error}}</p>
      {% endfor %}
    {% endif %}
  </form>
</div>
</div>
</div>
</div>
</div>
</section>



  
</div>
 


<!-- <section id="register" class="bg-light py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-6 mx-auto">
          <div class="card">
            <div class="card-header bg-primary text-white">
              <h4>
                <i class="fa fa-user-plus"></i> Register</h4>
            </div>
            <div class="card-body">
          
              {% include '_alerts.html' %}
                <form action="{% url 'register' %}" method="POST">
                  {% csrf_token %}
                  <div class="form-group">
                  <label for="first_name">First Name</label>
                  <input type="text" name="first_name" class="form-control" required>
                </div>
                <div class="form-group">
                  <label for="last_name">Last Name</label>
                  <input type="text" name="last_name" class="form-control" required>
                </div>
                <div class="form-group">
                  <label for="username">Username</label>
                  <input type="text" name="username" class="form-control" required>
                </div>
                <div class="form-group">
                  <label for="email">Email</label>
                  <input type="email" name="email" class="form-control" required>
                </div>
                <div class="form-group">
                  <label for="password2">Password</label>
                  <input type="password" name="password" class="form-control" required>
                </div>
                <div class="form-group">
                  <label for="password">Confirm Password</label>
                  <input type="password" name="password2" class="form-control" required>
                </div>
                <input type="submit" value="Register" class="btn btn-secondary btn-block">
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

 -->

  <script src="assets/js/jquery-3.3.1.min.js "></script>
  <script src="assets/js/bootstrap.bundle.min.js "></script>
  <script src="assets/js/main.js "></script>

   
{%endblock%}
